.myUlCard li {
  width: 15rem;
  border: 1px dashed #00b98e;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.5s 0.1s;

  &:hover {
    background-color: #00b98e;
    color: white !important;
  }
}
