/* .propertyNav-Cl ul {
  display: flex;
  background-color: #26c49f;
  color: white;
  border-radius: 12px;
  justify-content: space-between;
  max-width: 30rem;
  flex-wrap: wrap;
} */
.propertyNav-Cl ul li {
  padding: 1rem;
  border-radius: 12px;
  cursor: pointer;

  &:hover {
    background-color: #21a183;
  }
}
